/* public header */

.header-public {
  margin-bottom: 1em;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

/* Blueprints*/

.blueprints .panel.active {
  border: 1px solid green;
}

.blueprints .panel-footer {
  text-align: right;
}

.mutations .panel {
  display: inline-block;
  vertical-align: top;
  width: 100%;
}

.mutations .panel-body {
  min-height: 75px;
}

@media (min-width: 576px) {
  .mutations .panel {
    width: 200px;
  }
}

/* footer */

.page-footer {
  text-align: center;
}

.page-footer ul {
  list-style-type: none;
}

@media (min-width: 992px) {
  .page-footer {
    padding-left: 50px;
    height: 300px;
  }
}

/* content */

.page-content {
  margin-left: 45px;
  max-width: calc(100% - 40px);
  height: calc(100% - 300px - 60px);
  position: relative;
}

.page-content .content-message {
  margin-top: 0.5em;
}

@media (min-width: 576px) {
  .page-content {
    /*margin-top: 60px;*/
    margin-top: 100px;
  }
}

@media (min-width: 1200px) {
  .page-content {
    margin-left: 0;
  }
}

/* side-menu */

.side-menu {
  z-index: 10;
  position: fixed;
  top: 120px;
  left: 0;

  text-align: center;
  width: 45px;
  height: 100%;
}

.side-menu .n-count {
  position: absolute;
  top: 3px;
  left: 30px;
}

.side-menu .menu-item {
  position: relative;
  width: 40px
}

.side-menu .menu-group + .menu-group {
  margin-top: 1em;
}

.side-menu .menu-item + .menu-item {
  margin-top: 0.25em;
}

@media (min-width: 576px) {
  .side-menu {
    top: 100px;
  }
}

/* header */

.page-header {
  margin: 0;
  margin-bottom: 1em;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

@media (min-width: 576px) {
  .page-header {
    background: rgba(0, 0, 0, 1);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    min-height: 50px;
    padding-right: 7px;
    width: 100%; /* keeps the header wide when sticky header activates*/
  }
}

/* Logo */

.logo {
  display: block;
  text-align: center;
  font-size: 16px;
  margin: 0.5em 0;
}

@media (min-width: 576px) {
  .logo {
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
    text-align: left;
  }

  .logo img {
    height: 30px;
  }

}

/*#turntime {*/
/*font-size: 15px;*/
/*padding-top: 10px;*/
/*margin-right: 4px;*/
/*}*/

/* nav-top */

@media (max-width: 991px) {
  #nav-top[class*='col-'] {
    padding: 5px;
  }
}

/* notifications */

/*#notifications .new {*/
/*background-color: rgba(255, 255, 255, 0.1);*/
/*}*/

.notification-bar {
  text-align: right;
}

.page-header .drawer-toggle {
  position: relative;
  margin-right: 2em;
}

.page-header .drawer-toggle .fa {
  margin-right: 0.25em;
}

.page-header .n-count {
  position: absolute;
  top: 0;
  left: 100%;

}

/* Landing Page*/

.landing-page .already-registered {
  display: none;
}

.game-feature {
  padding: 0.5em 1em;
}

@media (min-width: 768px) {
  .game-feature {
    height: 225px;
  }
}

/* message board */

#thread-list .new,
.unviewed {
  background: rgba(0, 0, 255, 0.15);
}

.thread-post.panel-body {
  white-space: pre-line;
}

.thread-post.post-own {
  color: rgb(3, 255, 238);
}

/* operations */

.covert-operation-panel input {
  margin-bottom: 0.25em;
}

/* reports */

.covert-report-unknown {
  border: 1px dotted white;
  text-align: center;
  font-size: large;
  font-variant: small-caps;
  min-height: 50px;
}

/* universe */

.universe-quickaction {
  min-width: 50px
}

#universetable.alliance-name, #universetable.user-name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media (min-width: 1200px) {
  #universe-search {
    position: relative;
  }

  #universe-search > div {
    position: fixed;
  }
}

/* upkeep */

/* Make the bold numbers in the upkeep panel bigger to stand out more*/

#upkeep .panel-body strong {
  font-size: 115%;
}

/* resource bar */

.resource-bar .resource {
  display: inline-block;
  width: 120px;

}

.resource-bar .fa {
  width: 15px;
}


