/* footer */

.page-footer {
  width: 100%;
  text-align: center;
  background: rgba(0, 0, 0, 0.8);
  font-size: 1.1em;
}

@media (min-width: 992px) {
  .page-footer {
    clear: both;
    position: static;
    bottom: 0;
    left: 0;
    height: 250px;
  }
}

/* content */

#content {
  margin-left: 233px;
  min-height: 500px;
  position: relative;
  transition: all 500ms;
}

@media (max-width: 767px) {
  #content {
    margin-left: 0;
  }
}

@media (min-width: 768px) {

  .menu-active #main {
    overflow: visible;
  }

  .menu-active #content {
    margin-left: 0;
  }
}

/* sidebar */

/* Sidebar */

#sidebar {
  z-index:9;
  width: 233px;
  background: rgba(0, 0, 0, 0.3);
  height: 100%;
  position: fixed;
  /* Probably exists to make room for the footer, but footer isn't further down anyways, review when fixing footer */

  left: 0;
  /* needs to be set for transition to be detected */

  transition: all 500ms;
}

.ie9 #sidebar {
  min-height: 100vh;
}

.side-menu > li > a {
  display: inline-block;
  position: relative;
  z-index: 10;
  font-size: 12px;
  height: 42px;
  margin-bottom: -4px;
  text-align: center;
  opacity: 0.55;
}

.side-menu .menu-item {
  white-space: nowrap;
  background: rgba(0, 0, 0, 0.95);
  z-index: 8;
  width: 188px;
  display: block;
  line-height: normal;
  text-align: left;
  -webkit-backface-visibility: hidden;
}

.side-menu span.menu-item {
  top: 0;
  padding: 13px 15px 13px 8px;
  font-weight: 600;
  text-transform: uppercase;
}

.side-menu .dropdown span.menu-item {
  top: 0;
}

.side-menu ul.menu-item {
  top: 42px;
  padding: 5px 0 13px;
}

.side-menu ul li > a {
  padding: 4px 8px;
  float: left;
  width: 100%;
}

ul.menu-item a.active {
  color: #FFD600;
}

.side-widgets {
  width: 188px;
  float: left;
  position: relative;
}

.user-side-info {
  width: 100%;
  float: right;
}

@media (max-width: 767px) {
  #sidebar {
    position: absolute;
    height: 100%;
    height: calc(100% + 51px);
    overflow-x: hidden;
    overflow-y: auto;
    background: rgba(0, 0, 0, 0.9);
    -webkit-transform: translate3d(-233px, 0, 0);
    -moz-transform: translate3d(-233px, 0, 0);
    transform: translate3d(-233px, 0, 0);
  }
  .user-side-info {
    margin-top: 50px;
  }
  .ie9 #sidebar {
    position: absolute;
    left: -233px;
  }
  #sidebar .s-widget:not(#profile-menu) {
    display: none;
  }
  #sidebar.toggled {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .ie9 #sidebar.toggled {
    left: 0;
  }
  .tile-title,
  .s-widget .fc-header {
    background: rgba(95, 94, 94, 0.35);
  }
  .side-menu {
    float: left;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    width: 100%;
  }
  .side-menu > li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    float: left;
    width: 100%;
    overflow: hidden;
  }
  .side-menu > li > a {
    opacity: 1;
  }
  .side-menu .menu-item {
    float: left;
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    margin-left: 45px;
  }
  .side-menu ul.menu-item {
    width: 100%;
  }
  ul.menu-item a.active {
    color: #FFD600;
    font-weight: bold;
  }
}

@media (min-width: 768px) {
  /* Sidebar */

  #sidebar {
    padding-left: 45px;
  }
  #sidebar.toggled {
    position: absolute;
    left: -233px;
  }
  #sidebar .side-menu {
    width: 45px;
    height: 100%;
    left: 0;
    position: absolute;
  }
  #sidebar .side-menu > li > a {
    width: 100%;
  }
  .side-menu .menu-item {
    position: absolute;
    left: 70px;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 230ms;
    -moz-transition: all 230ms;
    -o-transition: all 230ms;
  }
  .side-menu > li:hover .menu-item {
    left: 45px;
    opacity: 1;
    z-index: 10;
    visibility: visible;
  }
}

@media (min-width: 992px) {
  .side-menu > li > a:hover,
  .side-menu > li.active > a,
  .side-menu > li > a.active:hover,
  .side-menu > li.hovered > a {
    background-color: rgba(0, 0, 0, 0.95);
    color: #fff;
    opacity: 1;
  }
}



/* header */

#turntime {
  font-size: 15px;
  padding-top: 10px;
  margin-right: 4px;
}

#menu-toggle {
  width: 45px;
  height: 49px;
  float: left;
  position: absolute;
  left: 0;
  top: 0;
  padding: 14px 12px 13px;
  background-color: rgba(0, 0, 0, 0.5);
}

.fa.top {
  vertical-align: middle;
  width: 40px;
  line-height: 48px;
  float: left;
}

.menu-toggled .side-menu {
  overflow: hidden;
}

#header {
  z-index:3;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  min-height: 50px;
  position: relative;
  padding-right: 7px;

  width: 100%; /* keeps the header wide when sticky header activates*/
}

@media (max-width: 767px) {
  #header {
    padding: 0;
  }
  .logo {
    width: 100%;
    margin: 0;
  }
}

/* Logo */

.logo {
  width: 233px;
  height: 50px;
  text-align: center;
  padding: 14px 0 12px 40px;
  font-size: 16px;
  margin-right: 9px !important;
  background: rgba(0, 0, 0, 0.23);
}

@media (max-width: 767px) {
  .logo {
    width: 100%;
    margin: 0;
  }
}

/* nav-top */

@media (max-width: 991px) {
  #nav-top[class*='col-'] {
      padding: 5px;
    }
}

/* notifications */

#notifications .new {
  background-color: rgba(255, 255, 255, 0.1);
}

.n-count {
  background: #F00000;
  font-size: 11px;
  position: absolute;
  text-align: center;
  padding: 2px 3px 3px;
  border-radius: 2px;
  margin: 7px 0 0 -13px;
  font-style: normal;
  line-height: 100%;
  animation-name: bounceIn;
  font-family: open-sans-regular, sans-serif;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

/* Login */
#login > header > h1, #error-page h1 {
  margin: 0;
}

#login .box {
  padding: 20px 20px 25px;
  margin-top: 30px;
  position: absolute;
  display: none;
}

#login .box.active {
  display: block;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

[class="form-type-"] {
  position: absolute;
  top: 50%;
}

#login .login-control {
  width: 100%;
  border: 0;
  padding: 7px 10px;
  background: rgba(0, 0, 0, 0.35);
}

@media (max-width: 767px) {
  #login {
    padding: 30px 15px;
  }

  #login .box {
    width: 100%;
    width: calc(100% - 30px);
  }
}

@media (min-width: 768px) {
  /* Login */
  #login {
    padding: 30px;
  }

  #login > header > h1, #error-page h1 {
    font-size: 60px;
  }

  #login .box {
    width: 500px;
  }
}

/* message board */

#thread-list .new,
.unviewed {
  /*background: rgba(255, 255, 255, 0.05);*/
  background: rgba(0, 0, 255, 0.15);
}

.thread-post.panel-body {
    white-space: pre-line;
  }

.thread-post.post-own {
    color: rgb(3, 255, 238);
  }

/* operations */

.covert-operation-panel input {
    margin-bottom: 0.25em;
  }

/* reports */

.covert-report-unknown {
  border: 1px dotted white;
  text-align: center;
  font-size: large;
  font-variant: small-caps;
  min-height: 50px;
}

/* register */

#register > header > h1, #error-page h1 {
  margin: 0;
}

#register .box {
  padding: 20px 20px 25px;
  margin-top: 30px;
  position: absolute;
  display: none;
}

#register .register-control {
  width: 100%;
  border: 0;
  padding: 7px 10px;
  background: rgba(0, 0, 0, 0.75);
}

#register .box.active {
  display: block;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@media (max-width: 991px) {
  #register {
    padding: 30px 15px;
  }

  #register .box {
    width: 100%;
    width: calc(100% - 30px);
  }
}

/* research */


#research-attack tbody {
  background-color: rgba(215, 44, 44, 0.05);
}

#research-hull tbody {
  background-color: rgba(90, 57, 232, 0.05);
}

#research-shield tbody {
  background-color: rgba(90, 242, 232, 0.05);
}

#research-economy tbody {
  background-color: rgba(255, 255, 255, 0.05);
}

.research-item-desc {
  /* make research descriptions looks a little bulkier*/
  padding: 1em;
}

.research-item-desc strong {
  font-size: 115%;
}

/* universe */

.universe-quickaction {
  min-width: 50px
}

#universetable.alliance-name, #universetable.user-name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

 
@media (min-width: 1200px) {
  #universe-search {
    position: relative;
  }
  #universe-search > div {
    position: fixed;
  }
}

/* upkeep */

/* Make the bold numbers in the upkeep panel bigger to stand out more*/

#upkeep .panel-body strong {
  font-size: 115%;
}



