//$baseFontSize: 16px;
//$baseLineHeight: 1.5;

// $mobileBg: url(../img/backgrounds/sky_bg.jpg);
$mobileBg: url(../img/backgrounds/noise.png);
$desktopBg: url(../img/backgrounds/space.jpg);

// If bootstrap grid is used, these values should match bootstrap breakpoints to ensure consistent behaviour
$xs-brkp: 480px; //480px  to reflect bootstrap defaults
$sm-brkp: 768px; //768px to reflect bootstrap defaults
$md-brkp: 992px; //992px to reflect bootstrap defaults
$lg-brkp: 1200px; //1200px to reflect bootstrap defaults
$xl-brkp: 1800px;

// Exclusion breakpoints, used to avoid conflicts by preventing styles from applying at larger breakpoints
$xs-brkp-max: $xs-brkp - 1;
$sm-brkp-max: $sm-brkp - 1;
$md-brkp-max: $md-brkp - 1;
$lg-brkp-max: $lg-brkp - 1;
$xl-brkp-max: $xl-brkp - 1;