#content {
  margin-left: 233px;
  min-height: 500px;
  position: relative;
  transition: all 500ms;
}

@media (max-width: $sm-brkp-max) {
  #content {
    margin-left: 0;
  }
}

@media (min-width: $sm-brkp) {

  .menu-active #main {
    overflow: visible;
  }

  .menu-active #content {
    margin-left: 0;
  }
}