/* --------------------------------------------------------
    Buttons
-----------------------------------------------------------*/

.btn:not(.form-control) {
  @extend %transition-fast;

  transform: skew(-8deg);

  border: 1px solid $colour-button-border;
  border-radius: 0;

  background-color: $colour-button;
  color: $colour-button-text;

  &:hover {
    border-color: $colour-button-hover;
    background-color: $colour-button-hover;
  }

  &:active {
    background-color: $colour-button-pressed;
  }
}

.btn .caret {
  border-top-color: rgba(255, 255, 255, 0.6);
}

