/* Extend Bootstrap panel styles */

/* Panel + Collapse*/
.panel, .panel-group .panel-heading + .panel-collapse .panel-body {
  background: transparent;
  border: 0;

}

.panel-default > .panel-heading, .panel-footer {
  border: 0;
  background: rgba(0, 0, 0, 0.35);
  padding: 8px 10px 9px;
}

.panel-title, .panel-title > a {
  font-size: 12px;
  color: #fff;
}

//.panel-group .panel + .panel {
//  margin-top: 1px;
//}

.panel-body.compressed {
  padding: 0 15px;
  /* removes top/bottom padding */
}

@media (min-width: $md-brkp) {
  @include box-shadow(2px, 2px, 1px, rgba(0, 0, 0, 0.7), false);
}

