.tile {
  position: relative;
  margin-bottom: 15px;
}

.tile-title {
  font-size: 12px;
  text-transform: uppercase;
  //  display: inline-block;
  margin: 0;
  //  width: 100%;
  padding: 7px 10px 7px;
}

.tile, .tile-title, .table th {
  background: $tile-bg;
}

.tile-light {
  background: $tile-bg-light;
}

.tile-dark {
  background: $tile-bg-dark;
}