//$baseFontSize: 16px;
//$baseLineHeight: 1.5;

$mobileBg: url(../img/backgrounds/sky_bg.jpg);
$desktopBg: url(../img/backgrounds/space.jpg);

$md-brkp: 1024px;
$sm-brkp: 768px;
$xs-brkp: $sm-brkp - 1px;
$lg-brkp: 1200px;
