html {
  overflow-x: hidden;
}


html,
body {
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  height: 100%;
  // Fonts must be in at least body to override bootstrap defaults.
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: lighter;
  color: #fff;
  text-shadow: 0 0 3px rgba(255, 255, 255, 0.4);
}

/* HR */

hr {
  margin: 0;
  float: left;
  width: 100%;
}


small {
  color: #fff;
}

img {
  max-width: 100%;
}


/* --------------------------------------------------------
    Bootstrap Overrides
-----------------------------------------------------------*/

.container {
  width: auto;
  padding: 0;
}

.even-spaced {
  letter-spacing: 1px;
  font-family: "Lucida Console", Monaco, monospace;
}

.main-wrapper {
  min-height: 100%;
  overflow: hidden;
  position: relative;
}

.main-content {
  padding-bottom: 55px;
  /* Height of the footer element */
}

.side-menu .menu-item {
  font-size: 125%;
  line-height: 2;
}

.menu-item li > a {
  min-height: 44px;
}

.box.active {
  display: block;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

/******************************* END BUTTONS **********************************/
/******* Overly specific stuff to refactor into something more generic ********/

.mv-upgrade,
.research-item {
  transition: width 0.25s;
}

.upgrade-cost,
.upgrade-limit {
  margin-bottom: 1em;
}

.upgrade-cost span,
.upgrade-limit span {
  /*display: block;*/

  margin-right: 0.5em;
}

.upgrade-info {
  /*padding: 0.5em;*/

  min-height: 105px;
}

.news-item.new div {
  background-color: rgba(0, 0, 255, 0.05);
}

.relation-protection {
  background-color: rgba(0, 0, 255, 0.05);
}

.relation-neutral {
}

.relation-peace {
  background-color: rgba(0, 255, 0, 0.05);
}

.relation-war {
  background-color: rgba(255, 0, 0, 0.05);
}

.break-word {
  word-wrap: break-word;
}

/* Some generic colour coding options*/

.success {
  color: #00FF00;
}

.danger {
  color: #FF0000
}
