
/* Alerts */
.alert {
  border: 0;
  background: rgba(255,255,255,0.7);
  font-family: open-sans-regular, sans-serif;
  font-size: 14px;
}

.alert-icon {
  position: relative;
  padding-left: 65px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.alert-icon .icon {
  position: absolute;
  left: 5px;
  top: 5px;
  font-size: 50px;
  line-height: 100%;
}

.alert-success {
  color: #069727;
  border-left: 5px solid #048F23;
}

.alert-success a {
  color: #069727;
  border-bottom: 1px dotted #09e33b;
}

.alert-info {
  color: #0B628D;
  border-left: 5px solid #0B628D;
}

.alert-info a {
  color: #0B628D;
  border-bottom: 1px dotted #61A8CA;
}

.alert-warning {
  color: #A78C00;
  border-left: 5px solid #A78C00;
}

.alert-warning a {
  color: #A78C00;
  border-bottom: 1px dotted #e9c300;
}

.alert-danger {
  color: #E02C29;
  border-left: 5px solid #FF524F
}

.alert-danger a {
  color: #E02C29;
  border-bottom: 1px dotted #FC9997;
}

.alert a:hover {
  opacity: 0.7;
}