/* List View */
.listview-header {
  background: rgba(0, 0, 0, 0.2);
  padding: 10px 15px;
}

.list-mass-actions {
  margin: 1px 0 0 1px;
}

.list-mass-actions > li {
  padding: 0;
  width: 29px;
  text-align: center;
  opacity: 0.8;
}

.list-mass-actions > li > a {
  display: inline-block;
  padding: 4px 0;
  width: 100%;
  height: 26px;
}

.list-mass-actions > li:hover {
  background: rgba(0, 0, 0, 0.15);
  opacity: 1;
}

.listview .media:not(.listview-header) {
  margin-top: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  position: relative;
  padding: 10px 15px;
}

.listview .media:not(.listview-header):hover {
  background-color: rgba(0, 0, 0, 0.07);
}

.listview .media .media-body {
  padding-top: 1px;
}

.listview .media:last-child {
  border-bottom: 0;
}

.listview.narrow .media {
  padding: 5px 10px;
}

.list-options {
  position: absolute;
  top: 0;
  right: 12px;
  z-index: 100;
  height: 27px;
  margin-top: -14px;
  top: 50%;
  display: none;
}

.listview .media:hover .list-options {
  display: block;
}

.listview .counts {
  padding: 0 6px;
  background: rgba(0, 0, 0, 0.56);
  color: #FFF;
  font-size: 23px;
  text-shadow: none;
}

.media.ui-sortable-placeholder {
  background: rgba(0, 0, 0, 0.2) !important;
  visibility: visible !important;
}

.listview .media .attrs {
  padding: 4px 7px 5px;
  line-height: 100%;
  margin: 4px 5px 2px 0;
  font-size: 11px;
  float: left;
  width: auto;
  background: rgba(0, 0, 0, 0.2);
}

.icon-list .media .icon {
  font-size: 17px;
  margin: -4px 7px 0 -3px;
  opacity: 0.6;
}

.list-title {
  width: 170px;
  margin-top: 1px;
}

.list-date {
  width: 50px;
  text-align: right;
}