
/* List Groups */
.list-group {
  border-bottom: 1px solid rgba(255,255,255,0.15);
}

.list-group-flat, .list-group-flat .list-group-item {
  border: 0;
}

.list-group-item {
  border: 1px solid rgba(255,255,255,0.15);
  border-bottom: 0;
  background: transparent;
  margin: 0;
  padding: 6px 10px;
}

a.list-group-item {
  color: #fff;
}

a.list-group-item.active,
a.list-group-item.active:hover,
a.list-group-item.active:focus {
  background: rgba(0,0,0,0.2);
  border-color: rgba(255,255,255,0.15);
}

a.list-group-item:hover,
a.list-group-item:focus {
  background: rgba(0,0,0,0.1);
}

a.list-group-item.active > .badge,
.nav-pills > .active > a > .badge {
  background: rgba(0,0,0,0.4);
  color: #fff;
  border: 0;
}