
/* Tables */
.table > thead > tr > th {
  font-weight: normal;
  padding: 5px 8px 6px;
  text-transform: uppercase;
  border-bottom: 0;
}

.table td, .table th {
  border-color: rgba(255,255,255,0.05) !important;
}

.table-condensed > thead > tr > th {
  padding: 3px 5px 5px;
}

.table-bordered, .table-responsive {
  border: 0;
}



.table-bordered > tbody > tr > td,
.table-bordered > thead > tr > th {
  border-bottom: 0;
  border-left: 0;
}

.table-bordered > tbody > tr > td:last-child,
.table-bordered > thead > tr > th:last-child {
  border-right: 0;
}

.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th,
.table-striped > tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(odd) > th {
  background: rgba(0,0,0,0.2);
}