/** Stuff to apply on medium screens and smaller */
@media (max-width: $md-brkp) {
  /* Bootstrap stacks justified tabs on small screens, we instead want to just override the justified part */
  /*.nav-tabs.nav-justified > li {*/
  /*display: inline-block;*/
  /*width: auto;*/
  /*border: none;*/
  /*}*/
  body {
    background-image: $mobileBg;
    background-color: #40404E;
  }

  /* Team */
  #team {
    padding: 30px 15px;
  }

  #team .box {
    width: 100%;
    width: calc(100% - 30px);
  }

  /* Help */
  #help {
    padding: 30px 15px;
  }

  #help .box {
    width: 100%;
    width: calc(100% - 30px);
  }

  /* tos */
  #tos {
    padding: 30px 15px;
  }

  #tos .box {
    width: 100%;
    width: calc(100% - 30px);
  }

  /* recruitexternal */
  #recruitexternal {
    padding: 30px 15px;
  }

  #recruitexternal .box {
    width: 100%;
    width: calc(100% - 30px);
  }
}

@media only screen and (min-width: $md-brkp) {
  body {
    background-size: 100% 100%;
    background-attachment: fixed;
    background-image: $desktopBg;
  }

  .tile, .tile-dark, .tile-title, .table th {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  }
}
