#thread-list .new,
.unviewed {
  /*background: rgba(255, 255, 255, 0.05);*/
  background: rgba(0, 0, 255, 0.15);
}

.thread-post {
  .panel-body {
    white-space: pre-line;
  }
  .post-own {
    color: rgb(3, 255, 238);
  }

}

