.universe-quickaction {
  min-width: 50px
}

#universetable {
  @include overflow-truncate();
}

@media (min-width: $lg-brkp) {
  #universe-search {
    position: relative;
  }
  #universe-search > div {
    position: fixed;
  }
}

