#turntime {
  font-size: 15px;
  padding-top: 10px;
  margin-right: 4px;
}

#menu-toggle {
  width: 45px;
  height: 49px;
  //  background-repeat: no-repeat;
  //  background-position: center;
  float: left;
  position: absolute;
  left: 0;
  top: 0;
  padding: 14px 12px 13px;
  background-color: rgba(0, 0, 0, 0.5);
  //  #menu-toggle { background-image: url(../img/icon/menu.png); }
}

.fa.top {
  vertical-align: middle;
  width: 40px;
  line-height: 48px;
  float: left;
}

.menu-toggled .side-menu {
  overflow: hidden;
}

/* Header */

#header {
  @extend %zIndex-3;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  min-height: 50px;
  position: relative;
  padding-right: 7px;

  width: 100%; //keeps the header wide when sticky header activates
}

@media (max-width: $sm-brkp-max) {
  #header {
    padding: 0;
  }
  .logo {
    width: 100%;
    margin: 0;
  }
  #header > .media-body {
    padding: 0 7px;
    white-space: nowrap;
  }
  #header > .media-body:hover #time {
    display: none;
  }
}
